@model IEnumerable<CategorySubforumsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var category in Model)
{
    <p>@category.Name</p>
    @if (category.Subforums.Count > 0)
    {
        @foreach (var subforum in category.Subforums)
        {
            <a asp-controller="Topics" asp-action="All" asp-route-subforumId="@subforum.Id">@subforum.Name</a>
            <span>Topics: @subforum.Topics.Count</span>
            <span>Replies: @subforum.Topics.Sum(t => t.RepliesCount)</span>
        }
    }
    else
    {
        <h5>No subforums available.</h5>
    }
    <p>--------------------------</p>
}

