@model IEnumerable<CategoryListingModel>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] <a asp-action="Create" class="btn btn-success btn-sm">Create</a></h1>
<hr />

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">@category.Name</h4>
                    <p class="card-text text-muted">@category.SubforumsCount subforums <br /> @category.TopicsCount topics</p>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning btn-block">Edit</a>
                </div>
            </div>
        </div>
    }
</div>
