@model IEnumerable<TravelBasicModel>

@{
    ViewData["Title"] = "My travel history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>Your travel history is empty.</p>
}
else
{
    <div class="row">
        <div class="col-md-9 text-center">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>When</th>
                        <th>At</th>
                        <th>Rate</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var travel in Model)
                    {
                        <tr>
                            <td>@travel.StartingPoint</td>
                            <td>@travel.Destination</td>
                            <td>@travel.TravelTime.ToShortDateString()</td>
                            <td>@travel.TravelTime.ToShortTimeString()</td>
                            <td>
                                <form asp-controller="Travels" asp-action="Rate" asp-route-id="@travel.Id" method="get">
                                    <input type="submit" class="btn btn-success btn-block" value="Rate" />
                                </form>
                            </td>
                            <td>
                                <a asp-controller="Travels" asp-action="Details" asp-route-id="@travel.Id" class="btn btn-warning btn-block">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

