@model IEnumerable<MessageListingModel>

@{
    ViewData["Title"] = "Sent Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>
<hr /><br />

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" asp-action="Send">Send new message</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Received">Received</a></li>
            <li class="nav-item"><a class="nav-link active" asp-action="Sent">Sent</a></li>
        </ul>
    </div>

    <div class="col-md-9">
        @if (!Model.Any())
        {
            <h4>Your have not sent any messages!</h4>
        }
        else
        {
            foreach (var message in Model)
            {
                <p>
                    <i class="far fa-envelope fa-lg"></i>
                    <a asp-controller="Messages" asp-action="Details" asp-route-id="@message.Id">@message.Title</a><br />
                    To: <a asp-controller="Users" asp-action="Profile" asp-route-username="@message.Recipient">@message.Recipient</a> » @message.DateTime
                    <hr>
                </p>
            }
        }
    </div>
</div>

